# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/
bin/
obj/
Properties/
.vs/PkxFiles/DesignTimeBuild/.dtbcache.v2
.vs/PkxFiles/FileContentIndex/4762fdd7-07e7-4a5e-a114-31fc9d44d7b5.vsidx
.vs/PkxFiles/FileContentIndex/8e304d4e-b839-4ac4-b6ba-f0d39f6b9284.vsidx
.vs/PkxFiles/FileContentIndex/d2f5fe38-e023-491e-9df2-434c3cd95358.vsidx
.vs/PkxFiles/v17/.futdcache.v2
.vs/PkxFiles/v17/.suo
.vs/PkxFiles/v17/DocumentLayout.backup.json
.vs/PkxFiles/v17/DocumentLayout.json
.vs/ProjectEvaluation/pkxfiles.metadata.v9.bin
.vs/ProjectEvaluation/pkxfiles.projects.v9.bin
.vs/ProjectEvaluation/pkxfiles.strings.v9.bin
bin/Debug/net8.0-windows/PkxFiles.dll
bin/Debug/net8.0-windows/PkxFiles.exe
bin/Debug/net8.0-windows/PkxFiles.pdb
obj/Debug/net8.0-windows/apphost.exe
obj/Debug/net8.0-windows/PkxFiles.AssemblyInfo.cs
obj/Debug/net8.0-windows/PkxFiles.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows/PkxFiles.dll
obj/Debug/net8.0-windows/PkxFiles.pdb
obj/Debug/net8.0-windows/PkxFiles.sourcelink.json
obj/Debug/net8.0-windows/ref/PkxFiles.dll
obj/Debug/net8.0-windows/refint/PkxFiles.dll
